@media only screen and (max-device-width: 480px) {
  .jumbotron h1 {
  	font-size: 45px !important;
  }

  .jumbotron h2 {
  	font-size: 30px !important;
  }

  .navbar-default {
  	padding-left: 20px !important;
  }

  .event-info p, .event-info h2 {
  	text-align: center;
  }

  footer div.col-md-2, footer div.col-md-5 {
  	text-align: center;
  }

}

body {
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
}

nav {
	padding-left: 100px !important;
}

.navbar-default {
	border-radius: 0px;
	background-color: #14213D;
	margin: 0px;
	color: white;
	padding: 15px;
}

.navbar-brand {
	color: white !important;
	font-size: 200%;
	font-weight: bold;
}

.normal-links li a {
	color: #ccc !important;
	padding-bottom: 1px !important;
	padding-right: 1px !important;
	padding-left: 1px !important;
	margin-left: 15px !important;
	margin-right: 15px !important;
}

.normal-links li a:hover {
	color: #FCA311 !important;
	padding-bottom: 1px !important;
	padding-right: 1px !important;
	padding-left: 1px !important;
	border-bottom: 4px solid #FCA311;
	cursor: pointer;
}

.navbar-right li a {
	/*color: #FCA311 !important;
	border: 1px solid #FCA311;*/
	margin-left: 15px;
	margin-right: 15px;
}

.navbar-right {
	/*margin-right: 70px;*/
	padding-right: 20px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-br {
	height: 45px;
	width: 180px;
	background: url(images/logo.png) no-repeat center center;
	background-size: contain;
	margin: 0px;
	padding: 0px;
	display: inherit;
}


/* Landing Page Main Frame Styles */

.main-frame {
	background: url(images/background.png) no-repeat center center;
	background-size: cover;
	height: 90vh;
}

.main-frame-content {
	margin-top: 50px;
	padding-left: 50px;
}

.main-frame-btn {
	font-weight: 400;
	color: white;
	background-color: #FCA311;
	padding: 13px;
	padding-left: 18px;
	padding-right: 18px;
	font-size: 16px;
}

.main-frame-btn:hover {
	background-color: #D6800D;
	text-decoration: none;
	color: white;
}

.jumbotron {
	border-radius: 0px !important;
	margin-bottom: 0px;
}

.jumbotron h1 {
	font-family: 'Lato:900', sans-serif;
	color: #14213D;
	font-size: 70px;
	font-weight: bold;
	margin-bottom: 2px;
}

.jumbotron h2 {
	color: #14213D;
	font-size: 42px;
	margin-top: 2px;
}

.btn-primary {
	background-color: #14213D;
	border-radius: 0px;
}

.btn-primary:hover {
	background-color: #FCA311;
	border: 0px;
}

/* About Us Styles */

.about, .events, .speakers, .sponsors {
	padding: 20px;
	background-color: #fff;
}

.about, .events, .speakers {
	padding-bottom: 0px;
}

.about-main, .events-main, .speakers-main, .sponsors-main {
	background-color: white;
	padding: 50px;
}

.about-main h1, .events-main h1, .speakers-main h1, .sponsors-main h1 {
	font-weight: bold;
	color: #14213D;
}

.about-main p, .speakers-main p {
	font-size: 125%;
}

/* Events Styles */

.nav-tabs {
	border-bottom: 0px;
}

.nav-tabs li {
	margin: 0px;
}

.nav-tabs li a:hover {
	background-color: white;
	border: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #FCA311;
	color: #14213D;
}

.nav-tabs li a {
	font-size: 110%;
	color: #636363;
	font-weight: lighter;
}

.active a {
	/*border-radius: 0px !important;
	border: 0px !important;
	background-color: #FCA311 !important;
	color: white !important;*/
	border: 0px !important;
	border-bottom: 1px solid #FCA311 !important;
	font-weight: 700 !important;
}

.tab-content {
	/*padding: 20px;*/
}

.tab-content div {
	padding: 10px;
}

.event {
	padding: 8px;
}

.event-info h2 {
	margin-top: 0px;
	color: #14213D;
}

.event-info p {
	font-size: 120%;
}

.event div img {
	width: 200px;
	height: 200px;
}

.event div.col-md-3 {
	text-align: center;
}

.flex-container {
	display: flex;
	justify-content: center;
}

/* Speakers Styles */
.card {
	/*background-color: #eee;*/
	padding: 10px;
}

.card h3 {
	margin-bottom: 0px;
}

.speaker-name {
	font-size: 140%;
}

.speaker-des {
	font-size: 120%;
	margin-top: 0px;
}

.card div img, .card div {
	margin: 0px;
}

.card div img {
	border-radius: 50%;
	zoom: 75%;
}

/* Sponsors Styles */
.sponsors div.col-md-a img {
	background: no-repeat center;
	background-size: contain;
	margin: 0 auto;
	height: 100px;
	max-width: 225px;
}

.spon {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.spon div {
	margin: 15px;
	padding: 10px;
}


/* Footer Styles */

footer {
	background-color: #14213D;
	color: #9A9FA0;
	padding: 50px;
	font-weight: 300;
}

address, footer a, footer p {
	font-size: 113%;
}

footer p {
	margin-top: 15px;
	padding-right: 30px;
}

.register-btn {
	padding: 8px !important;
	padding-left: 18px !important;
	padding-right: 18px !important;
	color: #FCA311 !important;
	border: 1px solid #FCA311 !important;
	font-size: 16px !important; 
}

.register-btn:hover {
	color: white !important;
	text-decoration: none !important;
	background-color: #FCA311 !important;
}

footer a {
	color: #9A9FA0;
}

footer h3 {
	color: #E0E0E0;
}

.footer-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

footer div.col-md-5 {
	padding-left: 50px;
}

/* Other Styles */
.underline {
	padding-bottom: 20px;
	border-bottom: 1px solid orange;
}

.centerUL {
	margin-top: 13px;
}

/* Navigation Bar Responsive Styles */

body {
    padding-top: 80px;
}

header {
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 3;
}

.nav-up {
    top: -120px;
}

